/*! https://github.com/jjt/bower-solarized */

// css-solarized
// Colors borrowed from the wonderful http://ethanschoonover.com/solarized

$solarized-accent-colors: #B58900 #CB4B16 #DC322F #D33682 #6C71C4 #268BD2 #2AA198 #859900;
$solarized-accent-names: yellow orange red magenta violet blue cyan green;
$solarized-base-colors: #002B36 #073642 #586E75 #657B83 #839496 #93A1A1 #EEE8D5 #FDF6E3;
$solarized-base-names: "03" "02" "01" "00" "0" "1" "2" "3";

// Color variables
// As of writing, no way to declare these programatically
$solarized-yellow: nth($solarized-accent-colors, 1);
$solarized-orange: nth($solarized-accent-colors, 2);
$solarized-red: nth($solarized-accent-colors, 3);
$solarized-magenta: nth($solarized-accent-colors, 4);
$solarized-violet: nth($solarized-accent-colors, 5);
$solarized-blue: nth($solarized-accent-colors, 6);
$solarized-cyan: nth($solarized-accent-colors, 7);
$solarized-green: nth($solarized-accent-colors, 8);

$solarized-a-1: nth($solarized-accent-colors, 1);
$solarized-a-2: nth($solarized-accent-colors, 2);
$solarized-a-3: nth($solarized-accent-colors, 3);
$solarized-a-4: nth($solarized-accent-colors, 4);
$solarized-a-5: nth($solarized-accent-colors, 5);
$solarized-a-6: nth($solarized-accent-colors, 6);
$solarized-a-7: nth($solarized-accent-colors, 7);
$solarized-a-8: nth($solarized-accent-colors, 8);

$solarized-03: nth($solarized-base-colors, 1);
$solarized-02: nth($solarized-base-colors, 2);
$solarized-01: nth($solarized-base-colors, 3);
$solarized-00: nth($solarized-base-colors, 4);
$solarized-0: nth($solarized-base-colors, 5);
$solarized-1: nth($solarized-base-colors, 6);
$solarized-2: nth($solarized-base-colors, 7);
$solarized-3: nth($solarized-base-colors, 8);

$solarized-b-1: nth($solarized-base-colors, 1);
$solarized-b-2: nth($solarized-base-colors, 2);
$solarized-b-3: nth($solarized-base-colors, 3);
$solarized-b-4: nth($solarized-base-colors, 4);
$solarized-b-5: nth($solarized-base-colors, 5);
$solarized-b-6: nth($solarized-base-colors, 6);
$solarized-b-7: nth($solarized-base-colors, 7);
$solarized-b-8: nth($solarized-base-colors, 8);


@mixin solarized-placeholders() {
  $i: 1;
  @each $color in $solarized-accent-colors {
    $color-name: nth($solarized-accent-names, $i);
    %solarized-#{$color-name}, %solarized-a#{$i} {
      color: $color;
    }
    %solarized-bg-#{$color-name}, %solarized-bg-a#{$i} {
      background-color: $color;
    }
    $i: $i + 1;
  }

  $i: 1;
  @each $color in $solarized-base-colors {
    $color-name: nth($solarized-base-names, $i);
    %solarized-#{$color-name}, %solarized-b#{$i} {
      color: $color;
    }
    %solarized-bg-#{$color-name}, %solarized-bg-b#{$i} {
      background-color: $color;
    }
    $i: $i + 1;
  }
}
@include solarized-placeholders;


@mixin solarized-accent-classes {
  $i: 1;
  @each $color in $solarized-accent-colors {
    $color-name: nth($solarized-accent-names, $i);
    .solarized-#{$color-name}, .solarized-a#{$i} {
      @extend %solarized-#{$color-name};
    }
    .solarized-bg-#{$color-name}, .solarized-bg-a#{$i} {
      @extend %solarized-bg-#{$color-name};
    }
    $i: $i + 1;
  }
}


@mixin solarized-base-classes {
  $i: 1;
  @each $color in $solarized-base-colors {
    $color-name: nth($solarized-base-names, $i);
    .solarized-#{$color-name}, .solarized-b#{$i} {
      @extend %solarized-#{$color-name};
    }
    .solarized-bg-#{$color-name}, .solarized-bg-b#{$i} {
      @extend %solarized-bg-#{$color-name};
    }
    $i: $i + 1;
  }
}


@mixin solarized-classes {
  @include solarized-accent-classes;
  @include solarized-base-classes;
}
