/*! Benjamin Menant | WTFPL */

/**
 * Tooltips
 *
 */

.with-tooltip {
    position: relative;

    &:not(:hover) .tooltip,
    &.active .tooltip {
        @extend .visually-hidden;
    }

    .tooltip {
        white-space: nowrap;
    }
}

.tooltip {
    position: absolute;
    z-index: 100;
    background: transparentize($reverse-background-color, .1);
    border: $border-width solid rgba(0,0,0,0);
    border-radius: rem-size(3);
    box-shadow: -$border-width $border-width rem-size(7) rem-size(-2) #000;
    color: $font-quiet-color;
    display: block;
    font-size: $simple-font-size;
    line-height: $simple-line-height;
    margin: -$border-width;
    padding: $half-adjusted-margin $margin-size;
    text-shadow: none;
    
}

@mixin tooltip-top {

    .with-tooltip & {
        top: initial;
        right: calc(100% + #{ $adjusted-margin });
        bottom: calc(100% + #{ $simple-line-height });
        left: initial;
    }

    &::after {
        @include iso-rect-triangle(
            'to bottom',
            $half-adjusted-margin * 1.2,
            transparentize($reverse-background-color, .1)
        );

        top: calc(100% + #{ $border-width });
        right: initial;
        bottom: initial;
        left: calc(50% - #{ $border-width + $half-adjusted-margin * 1.2 * $pythagoras-const / 2 });
    }
}
.tooltip-top {
    @include tooltip-top;
}

@mixin tooltip-bottom {

    .with-tooltip & {
        top: calc(100% + #{ $simple-line-height });
        right: calc(100% + #{ $adjusted-margin });
        bottom: initial;
        left: initial;
    }

    &::after {
        @include iso-rect-triangle(
            'to top',
            $half-adjusted-margin * 1.2,
            transparentize($reverse-background-color, .1)
        );

        top: initial;
        right: initial;
        bottom: calc(100% + #{ $border-width });
        left: calc(50% - #{ $border-width + $half-adjusted-margin * 1.2 * $pythagoras-const / 2 });
    }
}
.tooltip-bottom {
    @include tooltip-bottom;
}

@mixin tooltip-right {

    .with-tooltip & {
        top: calc(50% - #{ $simple-line-height });
        right: initial;
        bottom: initial;
        left: calc(100% + 0.5em);
    }

    &::after {
        @include iso-rect-triangle(
            'to left',
            $half-adjusted-margin,
            transparentize($reverse-background-color, .1)
        );

        top: ($double-line-height - $half-adjusted-margin * $pythagoras-const)
            / 2 - $border-width;
        right: initial;
        bottom: initial;
        left: -$half-adjusted-margin - $border-width;
    }
}
.tooltip-right {
    @include tooltip-right;
}

@mixin tooltip-left {

    .with-tooltip & {
        top: calc(50% - #{ $simple-line-height });
        right: calc(100% + 0.5em);
        bottom: initial;
        left: initial;
    }

    &::after {
        @include iso-rect-triangle(
            'to right',
            $half-adjusted-margin,
            transparentize($reverse-background-color, .1)
        );

        top: ($double-line-height - $half-adjusted-margin * $pythagoras-const)
            / 2 - $border-width;
        right: -$half-adjusted-margin - $border-width;
        bottom: initial;
        left: initial;
    }
}
.tooltip-left {
    @include tooltip-left;
}

@mixin tooltip-bottom-right {

    .with-tooltip & {
        top: calc(100% + 0.5em);
        right: 0;
        bottom: initial;
        left: initial;
    }

    &::after {
        @include iso-rect-triangle(
            'to top',
            $half-adjusted-margin * 1.2,
            transparentize($reverse-background-color, .1)
        );

        top: initial;
        right: ($double-line-height - $half-adjusted-margin * 1.2 * $pythagoras-const)
            / 2 - rem-size(2);
        bottom: calc(100% + #{ $border-width });
        left: initial;
    }
}
.tooltip-bottom-right {
    @include tooltip-bottom-right;
}

@mixin tooltip-bottom-left {

    .with-tooltip & {
        top: calc(100% + 0.5em);
        right: initial;
        bottom: initial;
        left: 0;
    }

    &::after {
        @include iso-rect-triangle(
            'to top',
            $half-adjusted-margin * 1.2,
            transparentize($reverse-background-color, .1)
        );

        top: initial;
        right: initial;
        bottom: calc(100% + #{ $border-width });
        left: ($double-line-height - $half-adjusted-margin * 1.2 * $pythagoras-const)
            / 2 - rem-size(2);
    }
}
.tooltip-bottom-left {
    @include tooltip-bottom-left;
}

@mixin tooltip-top-right {

    .with-tooltip & {
        top: initial;
        right: 0;
        bottom: calc(100% + 0.5em);
        left: initial;
    }

    &::after {
        @include iso-rect-triangle(
            'to bottom',
            $half-adjusted-margin * 1.2,
            transparentize($reverse-background-color, .1)
        );

        top: calc(100% + #{ $border-width });
        right: ($double-line-height - $half-adjusted-margin * 1.2 * $pythagoras-const)
            / 2 - rem-size(2);
        bottom: initial;
        left: initial;
    }
}
.tooltip-top-right {
    @include tooltip-top-right;
}

@mixin tooltip-top-left {

    .with-tooltip & {
        top: initial;
        right: initial;
        bottom: calc(100% + 0.5em);
        left: 0;
    }

    &::after {
        @include iso-rect-triangle(
            'to bottom',
            $half-adjusted-margin * 1.2,
            transparentize($reverse-background-color, .1)
        );

        top: calc(100% + #{ $border-width });
        right: initial;
        bottom: initial;
        left: ($double-line-height - $half-adjusted-margin * 1.2 * $pythagoras-const)
            / 2 - rem-size(2);
    }
}
.tooltip-top-left {
    @include tooltip-top-left;
}
