.preference-panel{
    display: flex;
    flex-direction: row;

    margin-top: $half-adjusted-margin;

    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }

    nav {
        flex: 0 0 auto;

        ul {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        }

        li {
            margin-bottom: $half-adjusted-margin;
        }

        button {
            color: inherit;
            font-size: $simple-line-height;
            line-height: $double-line-height;

            align-items: center;

            padding: 0 $margin-size 0 $half-adjusted-margin;
            width: 100%;
        }

        img {
            margin-right: 1ex;
            margin-left: initial;
            opacity: .9;
        }
    }

    main {
        flex: 1 1 auto;
    }
}

.preference-menu-sources img {
    transform: rotate(45deg) scale(.9);
}

.preference-about {

    aside {
        margin-top: $margin-size;
        font-size: $tiny-font-size;

        ul {
            display: flex;
        }
        li:not(:last-child)::after {
            content: '-';
            margin: 0 1ex;
        }

        h1,
        h2 {
            font-size: $simple-line-height;
            margin: $half-adjusted-margin 0 #{$margin-size - $half-adjusted-margin};
        }
    }

    time {
        white-space: nowrap;
    }
}

.preference-criteria,
.preference-sources {
    p {
        margin-top: $half-adjusted-margin;
    }

    > div {
        display: flex;
    }

    aside,
    ul {
        overflow-y: auto;
        max-height: $block-size * 3;
        min-height: $block-size * 3 - $half-adjusted-margin;
    }

    aside {
        flex: 1 2 50%;
        color: $font-quiet-color;

        h1,
        h2 {
            font-weight: 600;
            margin: $half-adjusted-margin 0 #{$margin-size - $half-adjusted-margin};
        }

        img {
            vertical-align: bottom;
        }
    }

    ul {
        flex: 1 1 auto;
    }
    li {
        line-height: $double-line-height;
        margin-bottom: $half-adjusted-margin;
    }
}

.preference-sources,
.preference-criteria {
  
    @media (min-width: $media-query-threshold-wide) {
        ul {
            columns: 15em;
        }
    }
    
    li {
        margin-right: $margin-size;
    }
}

.editor-label,
.criterion-label {
    display: flex;
    align-items: center;

    padding: 0 $margin-size;
    white-space: nowrap;

    font-size: $midway-font-size;
    text-transform: capitalize;

    transition: background-color .2s ease-out;
    &:hover {
        background-color: $background-light-color;
    }

    input {
        position: absolute;
        transform: scale(0);
    }

    img {
        margin-right: $half-adjusted-margin;
        width: $block-size / 2;
        height: $block-size / 2;
        opacity: .8;
    }

    &:hover > img,
    input:focus + img {
        opacity: initial;
    }
}
