@import '_variables';

.lmem-top-level{

    & > main{
        display: flex;
        justify-content: flex-end;
        margin-top: $half-adjusted-margin;
    }
}

.recommendation {
    flex: 20 1 0;
    align-self: flex-start;
    max-height: 3 * $block-size;
    min-width: 0; // fix for ellipsis of children elements

    border: solid $border-width $background-light-color;
    margin: -$border-width;
    line-height: rem-size(20);

    display: flex;
    justify-content: space-between;

    .reco-summary {
        min-width: 0; // fix for ellipsis of children elements
    }

    &.active {
        border-color: $action-color;
    }
}
