/*! Benjamin Menant | WTFPL */

@import '_variables';
@import '_helpers';

//
// Reco Header
//

.reco-summary-header {
    display: flex;
    align-items: flex-start;
}

.reco-summary-title {
    font-size: $midway-font-size;
    font-weight: 500;

    a {
        text-decoration: inherit;
        color: inherit;
    }
}

//
// Tags
//

.summary-tags {
    display: flex;
    margin-left: $half-adjusted-margin;
}

.tag {
    border-radius: rem-size(2);
    margin-left: $half-adjusted-margin;
    color: $background-light-color;
    display: inline-block;
    padding: 0 1ex;
}

.tag-health { background-color: $seaweed; }
.tag-quality { background-color: $blue; }
.tag-ecology { background-color: $green; }
.tag-alert { background-color: $red; }
.tag-local { background-color: $orange; }
.tag-price { background-color: $pink; }
.tag-ethics { background-color: $reverse-background-color; }

//
// Content
//

a.reco-summary-description {
    text-decoration: inherit;
    color: inherit;
}

.reco-summary-link-referral {

    > a:hover {
        color: $action-color;
    }

    > a {
        color: $font-quiet-color;
        overflow: hidden;
        display: block;
        line-height: $double-line-height;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// Sideframe

.sideframe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: $margin-size;
}

.reco-editor {
    img {
        margin-right: rem-size(5);
        vertical-align: middle;
    }
    h2 {
        margin-top: rem-size(10);
        font-size: $midway-font-size;
        line-height: $double-line-height;
        font-weight: 500;
    }
}

.reco-contributor {
    font-size: $tiny-font-size;
}

//
// Button
//

.summary-link-checkout-wrapper {
    flex: 0 0 auto;
    line-height: $double-line-height;
    align-self: flex-end;
    margin-left: $margin-size;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.summary-link-checkout {
    padding-right: 4ex;
}

.with-right-arrow::after {
    top: 25%;
}
