@import '_variables';

.lmem-top-level{

    & > main{
        display: flex;
        justify-content: flex-end;
        margin-top: $half-adjusted-margin;
    }
}

.recommendation {
    flex: 20 1 0;
    align-self: flex-start;
    border: solid $border-width $background-light-color;

    display: block;
    margin: -$border-width;
    line-height: rem-size(20);

    &.active {
        border-color: $action-color;
    }
}
