@import '_variables';

.lmem-top-level{

    > header{
        background: $background-em-color;
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: flex-start;

        padding: $margin-size;
        max-height: $block-size;
        line-height: $double-line-height;

        > .logo{
            position: relative; // so that the tooltip with position: absolute works

            background: inherit;
            box-shadow: none;
            border: 0;
            padding: 0;

            &:hover{
                background: $background-light-color;
                border-radius: 0.1875rem;
            }
        }

        img{
            max-width: 100%;
            height: auto;
        }

        > h1{
            flex: 1;
        }

        button.reduce{
            align-items: center;
            line-height: $double-line-height;
        }

        .separation-bar{
            border-color: $topbar-border-color ;
        }
        

        // Win some space hiding secondary UI elements.
        @media(max-width: #{$media-query-threshold-small-edge - rem-size(1)}) {
            z-index: 20;

            .button-label {
                @include visually-hidden;
            }
            .button-compact.with-image img {
                margin-left: initial;
            }
        }

        // Otherwise, display them.
        @media(min-width: $media-query-threshold-small-edge) {
            .button-label + .tooltip {
                @include visually-hidden;
            }

            .with-image img {
                margin-right: .2ex;
                width: $block-size / 3;
            }

            .with-image {
                min-width: $controls-inner-width;
            }
        }

    }
    

}