@import '_variables';

.lmem-top-level{

    & > header{
        background: $background-em-color;
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: flex-start;

        height: 4em;

        &>.logo{
            position: relative; // so that the tooltip with position: absolute works

            background: inherit;
            box-shadow: none;
            border: 0;
            padding: 0;
        }

        img{
            max-width: 100%;
            height: auto;
        }

        & > h1{
            flex: 1;
        }

        button.reduce{
            align-items: center;
            padding: 0 0.5em 0 0;

            img{
                margin: 0;
            }
        }

    }
    

}