/*! Benjamin Menant | WTFPL */

@import '_variables';
@import '_helpers';

//
// Reco Header
//

.reco-summary-header {
    display: flex;
    align-items: flex-start;
}

.reco-summary-title {
    font-size: $midway-font-size;
    font-weight: 500;

    a {
        text-decoration: inherit;
        color: inherit;
    }
}

//
// Type Indicator
//

.reco-type-indicator {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $block-size;
    box-shadow: 0 0 10px -5px;

    img {
        width: 100%;
        filter: brightness(300%);
    }
}

.reco-type-indicator-go {
    background-color: $green;
}

.reco-type-indicator-nogo {
    background-color: $orange;
}

.reco-type-indicator-warning {
    background-color: $red;
}

//
// Tags
//

.summary-tags {
    display: flex;
    margin-left: $half-adjusted-margin;
}

.tag {
    border-radius: rem-size(2);
    margin-left: $half-adjusted-margin;
    color: $background-light-color;
    display: inline-block;
    padding: 0 1ex;
}

.tag-health { background-color: $seaweed; }
.tag-quality { background-color: $blue; }
.tag-ecology { background-color: $green; }
.tag-alert { background-color: $red; }
.tag-local { background-color: $orange; }
.tag-price { background-color: $pink; }
.tag-ethics { background-color: $reverse-background-color; }

//
// Content
//

a.reco-summary-description {
    text-decoration: inherit;
    color: inherit;
}

.reco-summary-link-referral {

    > a:hover {
        color: $action-color;
    }

    > a {
        color: $font-quiet-color;
        overflow: hidden;
        display: block;
        line-height: $double-line-height;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// Sideframe

.sideframe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: $margin-size;
    text-align: right;
}

.reco-editor {
    img {
        margin-right: rem-size(5);
        vertical-align: middle;
    }
    h2 {
        margin-top: rem-size(10);
        font-size: $midway-font-size;
        line-height: $double-line-height;
        font-weight: 500;
    }
}

.reco-contributor {
    font-size: $tiny-font-size;
}

//
// Button
//

.summary-link-checkout-wrapper {
    flex: 0 0 auto;
    line-height: $double-line-height;
    align-self: flex-end;
    margin-left: $margin-size;

    &,
    > div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.summary-link-checkout {
    padding-right: 4ex;

    &.with-image img {
        width: $double-line-height;
        opacity: .9;
        margin: 0 1ex 0 0;
    }
}

.with-right-arrow::after {
    top: 25%;
}

// Feedback

.reco-feedback {
    margin-right: $margin-size;

    > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .separation {
        flex: 1;
    }

    button {
        align-items: center;
        line-height: $double-line-height;
        margin-top: ($double-line-height - $block-size / 3) / 2;
        margin-bottom: ($double-line-height - $block-size / 3) / 2;
        display: flex;

        opacity: .7;

        &:hover,
        &:focus {
            opacity: 1;
        }

        img {
            width: $block-size / 3;
            margin-left: 0;
            //margin-right: .5ex;
        }
    }
}