NODE_ENV=development
BACKEND_ORIGIN=https://staging-notices.bulles.fr/api/v3/

# Refresh intervals in minutes
REFRESH_MC_INTERVAL=5
REFRESH_CONTRIBUTORS_INTERVAL=5

# UNINSTALL_ORIGIN=https://www.bulles.fr/desinstallation

# Tracking
#TRACKING_URL=https://stats.lmem.net/matomo.php
#TRACKING_SITE_ID=5

# Email
SEND_CONTRIBUTION_FROM=infrastructure@lmem.net
SEND_CONTRIBUTION_TO=me@email.com
SEND_IN_BLUE_TOKEN=token

#SENTRY_ENABLED=true
#CHROME_EXTENSION_ID=

# For tooling and profiles page
CHROME_EXTENSION_ID=
FIREFOX_EXTENSION_ID=
PROFILES_ORIGIN=http://localhost:8080
PROFILES_ASSETS_PATH=/
