node_modules

build
dev

gulp
gulpfile.babel.js
webpack
webpack/replace

test/app/setup.js
test/infrastructure

src/browser/extension/background/contextMenus.js
src/electron
src/app/containers/PopUp

src/lib/heap.js