{
  "extends": "eslint-config-airbnb",
  "env": {
    "mocha": true,
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "max-len": ["error", {"code": 120, "ignoreUrls": true}],
    "comma-style": [ 2, "last" ],
    "quotes": [ 1, "single" ],
    "react/jsx-quotes": 0,
    "block-scoped-var": 0,
    "padded-blocks": 0,
    "eol-last": 0,
    "no-unused-vars": 0,
    "no-console": 0,
    "func-names": 0,
    "prefer-const": 0,
    "comma-dangle": 0,
    "id-length": 0,
    "prefer-template": 0,
    "prefer-arrow-callback": 0,
    "arrow-body-style": 0,
    "space-before-blocks": 0,
    "no-multiple-empty-lines": 0,
    "curly": 0,
    "no-case-declarations": 0,
    "react/jsx-curly-spacing": 0,
    "block-spacing": 0,
    "react/sort-comp": 0,
    "react/jsx-closing-bracket-location": 0,
    "no-trailing-spaces": 0,
    "react/jsx-no-bind": 0,
    "react/prop-types": 0,
    "brace-style": 0,
    "keyword-spacing": 0,
    "no-param-reassign": 0,
    "quote-props": 0,
    "no-extra-parens": 0,
    "object-curly-spacing": 0,
    "no-underscore-dangle": 0,
    "no-else-return": 0,
    "newline-per-chained-call": 0
  },
  "plugins": [
    "react"
  ]
}
