doctype html

html
  head
    meta(charset="utf-8")
    // This is not working. We should either fix or remove : include ./includes/devtools
    script(src=webpackConfig.output.publicPath + '/js/background.bundle.js')
