doctype html

html
  head
    meta(charset="utf-8")
    script(src=webpackConfig.output.publicPath + '/js/browser-polyfill.js')
    script(src=webpackConfig.output.publicPath + '/js/background.bundle.js')
