doctype html

html
  head
    meta(charset="utf-8")
    style
      | :root {
      |   width: 900px;
      |   height: 300px;
      | }
      | #root {
      |   margin: 15px 15px 15px 0;
      | }

    title LMEM Options
  body
    #root
    script(src=webpackConfig.output.publicPath + '/js/options.bundle.js')
