doctype html

html
  head
    meta(charset="utf-8")
    title LMEM Popup
    style
      | :root {
      |   width: 520px;
      |   height: initial;
      | }
      | body {
      |   margin: 0;
      | }
  body
    #root
    script(src=config.output.publicPath + '/js/popup.bundle.js')
