doctype html

html
  head
    meta(charset="utf-8")
    title LMEM Popup
    style
      | :root {
      |   width: 600px;
      |   height: initial;
      | }
      | #root {
      |   margin: 15px;
      | }
  body
    #root
    script(src=webpackConfig.output.publicPath + '/js/popup.bundle.js')
