doctype html

html
  head
    include ./includes/devtools.jade

    script(src='test/infrastructure/mocha.js')
    script(src='test/infrastructure/chai.js')
    script(src='test/infrastructure/chai-as-promised.js')
    script(src='test/infrastructure/WebConsole-mocha-reporter.js')
    script(src=config.output.publicPath + '/js/background.bundle.js')