doctype html

html
  head
    meta(charset='UTF-8')
    title Le Même en Mieux - Contributions Manuelles
  body
    #root
  include ./includes/devtools.jade
  script(src=config.output.publicPath + '/js/popup.bundle.js')
